@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**** Variables css ****/

:root{
    --monserrat : "Montserrat", sans-serif;
    --manrope : "Manrope", sans-serif;
    --important : #eebbc3;
    --text : #242424;
    --colorPrimary : #232946;
    --colorSecondary : #fffffe;
    --paragraph : #b8c1ec;

}

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.1em;
}

ul,
ol {
    list-style-type: none;
}

/**** Style global à toutes les pages ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--manrope);
    background-color: var(--colorPrimary);
}

header {
    display: flex;
    justify-content: space-evenly;
}

header, 
footer {
    background-color: var(--colorSecondary);
    padding: 20px 50px;
}

.navigation, 
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__link, 
.icon__link {
    margin-left: 30px;
    transition: opacity 0.3s ease-in-out;
}

.nav__link:hover,
.icon__link:hover {
    opacity: 0.5
}

.main__content {
    flex-grow: 1;
}

section {
    padding: 80px; 
}

h1 {
    font-size: 3.2em;
    color: var(--important);
    font-family: var(--monserrat);
    margin: 10px 10px;
}

p {
    font-size: 1.1em;
    color: var(--paragraph);
    line-height: 1.5;
    margin: 10px;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 80px;
}

.actions {
    display: inline-block;
    background-color: var(--important);
    color: var(--text);
    border-radius: 50px;
    padding: 20px 30px;
    margin: 20px 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}

.actions:hover {
    background-color: var(--paragraph);
} 

.arrow__btn {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: var(--important);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15px;
    bottom: 20px;
    cursor: pointer;
}

.arrow__btn i {
    color: var(--text);
    font-size: 1.4em;
}

footer {
    flex-direction: column;
}

footer .icon__link:first-child {
    margin-bottom: 15px;
}

footer p {
    text-align: center;
    color: var(--text);
    font-weight: 500;
    margin-top: 15px;
}


/**** Responsive design Mobile ****/

@media screen and (max-width: 768px) {
    .navigation,
    footer {
        flex-direction: column;
    }

    .navigation div,
    footer div {
        display: flex;
        flex-direction: column;
    }

    .icon__link,
    .nav__link {
        margin-bottom: 15px;
    }

    section {
        padding: 40px;
    }

    h1 {
        font-size: 2.4em;
    }

    .arrow__btn {
        height: 28px;
        width: 28px;
        right: 5px;
    }

    .arrow__btn i {
        font-size: 1.3em;
    }
}