/**** Style général de la page ****/

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.introduction img {
    border-radius: 8px;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.presentation p {
    line-height: 1.5;
    margin: 10px;
    letter-spacing: 1px;
}

.last__project {
    background-color: var(--colorSecondary);
}
  
.last__project h2 {
    color: var(--links);
    text-align: center;
    margin-bottom: 80px;
}
  
.last__project article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
}

.img__link {
    width: 32%;
    height: 312px;
    position: relative;
    transition: display 0.3s ease-in-out;
}

.last__project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out,
                box-shadow 0.3s ease-in-out;
}

.last__project img:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.69);
}

.contact h2 {
    color: var(--important);
    text-align: center;
    margin-bottom: 50px;
}
  
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: var(--colorSecondary);
}
  
.name__email__form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
  
.form__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
input,
textarea {
    padding: 15px;
    border-radius: 3px;
    font-family: var(--manrope);
    font-size: 1em;
    transition: box-shadow 0.3s ease-in-out;
}

input:focus, 
textarea:focus {
    box-shadow: 0 1px 6px var(--important);
}
  
label {
    font-size: 1em;
    margin-bottom: 10px;
}
  
input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
    cursor: pointer;
}

/**** Responsive design Tablette ****/

@media screen and (max-width: 992px) {
    .introduction {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .presentation h1, 
    .presentation p {
        margin: 15px;
    }

    .last__project article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .img__link {
        width: 100%;
    }
}

/**** Responsive design Mobile ****/

@media screen and (max-width: 768px) {

    .introduction img, 
    article {
        width: 100%;
    }

    .presentation h1 {
        font-size: 2.4em;
    }

    .name__email__form {
        flex-direction: column;
    }

    label:nth-child(2) {
        margin-top: 10px;
    }
}